* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-color: aquamarine; Set a background color for the entire body */
  margin: 0;
}

.AppContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.ServiceP {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1; /* Take remaining space vertically */
}

.SV {
  margin-top: 250px;
  font-size: 140px;
}
